<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job App Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% load static %}

</head>
<body>
    <div id="wrapper" style="max-width: 1000px; margin: 10px auto;">
        <nav class="navbar">

            <!-- LEFT SIDE OF NAVBAR -->
            <div class="navbar-brand">
                
                <p class="title is-2 is-align-self-center" id="wtf"><a href="/jobtracker/dashboard">Job Tracker</a></p>

                <!-- BURGER MENU -->
                <a role="button" class="navbar-burger is-align-self-center" id="wtf" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

        <!-- LEFT SIDE OF NAVBAR END -->

        </div>

            <!-- RIGHT SIDE OF NAVBAR -->
            <div class="navbar-menu navbar-end">

                <!-- PROFILE -->
                <p class="navbar-item">
                    {{user.first_name}} {{user.last_name}}
                </p>

                <!-- New Job App -->
                <a href="/jobtracker/add_job" class="navbar-item">
                    New Job App
                </a>

                <!-- LOGOUT -->
                <div class="navbar-item">
                    <form action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT" class="button" id="logout">
                    </form>
                </div>

            
            <!-- END RIGHT SIDE OF NAV -->
            </div>

        </nav>

        <!-- ERROR MESSAGES -->
        {% if messages %}
        <div class="card messages">
            <header class="card-header" id="error-message">
                    ERROR(S)
            </header>

            {% for message in messages %}
                <header class="card-header" id="error-message">
                        {{message}}
                </header>
            {% endfor %}
        </div>
        {% endif %}
        <!-- END ERROR MESSAGES -->

        <p>{{job.company}}</p>
        <p>{{job.role}} <span>{{job.city}}, {{job.state}}</span></p>
        <p>{{job.get_status_display}}</p>
        <p>Description</p>
        <p>{{job.description}}</p>

        <form action="/jobtracker/job/{{job.id}}/add_comment" method="POST">
            {% csrf_token %}
            <label for="content" class="label">Add A Comment</label>
            <textarea name="content" class="textarea"></textarea>

            <input type="submit" value="Add Comment" class="button">
        </form>

        {% for comment in comments %}
            <p>{{comment.content}}</p>
            <form action="/jobtracker/job/{{job.id}}/comment/{{comment.id}}/delete_comment" method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete Comment" class="button is-danger">
            </form>
        {% endfor %}
    </div>
</body>
